@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*{
    font-family: 'PT Serif', serif;
}


.container{
    width: 1000px;
    height: 700px;
}
.main-container{
    padding: 10%;
}
.list-item{
    margin-left: 5%;
    margin-right: 5%;
}
.content-image-wrapper{
    display: inline-block;
    border-radius: 25px;
    width: 50%;

}
.content-top-body{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.content-top{
    color: #fff;
    padding: 5%;
}
.content-bottom-wrapper{
  color: #fff;
  padding: 0.5% 5% 5% 5%;  
}
.content{
    background-color: rgb(169, 133, 204);
}
.dropdown-content{
    color: #fff;
}

.nav-bar{
    text-align: center;
    background-color: #555;
}
.topnav {
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.content-bottom{
  font-style: italic;
}
