.container{
    width: auto;
    padding: 2%;
    width: 1400px;
    margin: auto;
    border: 5px solid black;
    border-radius: 25px;
}
.header-wrapper{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(38, 78, 78);
}
.title-wrapper{
    margin-top: 1%;
    font-size: 2em;
    color: aliceblue;
}
.body-wrapper{
    width: 100%;
}
.body-content{
    padding: 5%;
}
.image{
    padding: 2%;
}
img{
    border-radius: 5%;
}
.hotel-image-wrapper,.hotel-menu-wrapper{
    border: 2px solid #000;
    height: auto;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 400px;
}

.item-title{
    width: 100%;
    text-align: center;
    height: 20px;
}

.title-label{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.register-button-wrapper{
    display: inline-block;
    width: 10%;
}
.reg-button{
    margin-top: 100%;
    margin-left: 10%;
}
.button{
    background-color: rgb(64, 127, 199);
    color: aliceblue;
    width: 100%;
    height: 50px;
}
.items{
    display: block;
    border: 2px solid black;
    border-radius: 25px;
    margin: 2%;
}
.menu{
    padding: 2%;
    height: 340px;
    margin-top: 2%;
    overflow: hidden;
    overflow-y: scroll;
}

.label,.item-image{
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}
.label{
    width: 60%;
}
.label-title,.label-description{
    display: block;
}
.footer-wrapper{
    width: 100%;
    height: 50px;
    background-color: rgb(38, 78, 78);
    color: #fff;
    font-size: 1.25em;
}
.hotel-name,.about-us-wrapper,.contact-us-wrapper{
    display: inline-block;
}
.hotel-name{
    margin-left: 5%;
    margin-top: 1%;
    width: 75%;
}
.about-us-wrapper,.contact-us-wrapper{
    margin-left: 1%;
}
a{
    color: #fff;
}
a:hover{
    color: blue;
}