body{
    background-color: bisque;
}
.main-container{
    background-color: #fff;
    margin: 25px;
}
.container{
    width: 1100px;
    height: 900px;
    margin: auto;
 
}
.title-wrapper{
    margin: auto;
    text-align: center;
}
.heading-image{
    display: inline-block;
    vertical-align: top;
}
.heading-content{
    display: inline-block;
    vertical-align: top;
    margin: 2.5%;
    font-size: 3em;
}
.recent-notification{
    padding: 10px;
    font-size: 1.5em;
}
.home,.about-us,.result,.search{
    display: inline-block;
    margin-left: 20px;
    margin: 10px;
    font-size: 1.25em;
}
.home,.about-us{
    border-right: 2px solid #000;
    padding-right: 10px;
}
.search{
    float: right;
}
.body-content{
    padding: 10px;
    border:5px solid #000;
    text-align: center;
    border-radius: 15px;
}
.left-content-heading{
    font-size: 2em;
}
.left-content{
    display: inline-block;
    vertical-align: top;
    width: 65%;
    border: 5px solid #000;
    height: 550px;
    border-radius: 15px;
    text-align: left;
}
.left-content-links{
    font-size: 1.25em;
    text-align: left;
    margin-left: 20px;
}
.left-content-image{
    margin-left: 15px;
    text-align: center;
}
.right-content{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    height: 550px;
}
.top-content{
    height: 30%;
}
.bottom-content{
    height: 65%;
}
.left-content-heading{
    text-align: center;
}
.links{
    margin-top: 2%;
}
.top-content{
    text-align: center;
}
.top-content,.bottom-content{
    display: block;
    border: 5px solid black;
    border-radius: 15px;
}
.bottom-content{
    margin-top: 10px;
    height: 365px;
}
.address-title{
    font-size: 1.5em;
}
.address-content{
    padding: 5px;
}
.facebook,.youtube{
    display: inline-block;
    width: 35%;
    height: 125px;
    text-align: center;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10px;   
    border: 4px solid #000;

}

.social-media-heading{
    font-size: 1.5em;
}
.twitter,.linkedin{
    display: inline-block;
    width: 35%;
    height: 125px;
    text-align: center;
    border: 4px solid #000;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10px;   
}
img{
    border-radius: 25px;
}
a{
    color:rgb(42, 115, 199)
}
a:hover{
    color:rgb(204, 84, 94)
}