*{
    box-sizing: border-box;
}
.about-us-header{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.25em;
    text-align: left;
}
.about-us-left{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
.about-us-right{
    display: inline-block;
}
.about-us-content{
    width: 100%;
    height: 320px;
}   
img{
    border-radius: 25px;
}
.about-us-wrapper{
    margin: 10px;
}

.about-us,.about-us-content{
    height:320px;
}
.about-us{
    margin: 2%;
    border: 2px solid black;
    border-radius: 25px;
}
.italics{
    font-style: italic;
}