*{
    box-sizing: border-box;
}
.main-container{
    padding: 2% 10% 10% 10%;  
}
.container{
    width: 800px;
    height: 480px;
    padding: 2%;
    background-color: antiquewhite;
    border: 5px solid rgb(134, 113, 113);
    border-radius: 50px;
}
.company-title{
    margin: 2%;
}
.company-title-body{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
}
.company-image{
    float: left;
    padding: 1.5% 2%;

}
.company-body{
    margin: 2%;
}
.company-image,.company-header{
    display: inline-block;
    vertical-align: top;
}
.company-body-left{
    vertical-align: top;
    width: 20%;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}
.company-body-right{
    width: 79%;
    height: 300px;
    border: 2px dotted rgb(0, 0, 0);
    display: inline-block;
    border-radius: 20px;

}
.company-body-right-wrapper{
    padding: 5%;
}
.scroll-bg{ 
    width: 90%;
}
.scroll-div{
    height:200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5%;
}
.company-body-header{
    font-size: x-large;
    text-align: center;
}

.service-wrapper,.about-us-wrapper,.contact-us-wrapper{
    margin-top: 60px;
}

a{
    color: rgb(36, 104, 182);
}
a:hover{
    color: red;
}
img {
    border-radius: 50%;
  }
.image-wrapper{
    border-radius: 50%;
    border: 2px solid black;
}
.highlight{
    color: red;
}