*{box-sizing: border-box;}
.main-container{
    width: 100vw;
}
.container{
    width: 1000px;
    height: auto;
    margin: auto;
    margin: 5px solid black;
    text-align: center;
}
.item1,.item2{
    display: inline-block;
}
.input,.label{
    padding: 10px;
}
.table-wrapper{
    text-align: center;
    padding-top: 20px;
}
.form-title{
    font-size: 2em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .title-wrapper{
      background-color: #f4f44f;
  }
  .content-wrapper{
      background-color: #969599;
  }


  #car-details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #car-details td, #car-details th {
    border: 1px solid rgb(143, 126, 126);
    padding: 8px;
  }
  
  #car-details tr:nth-child(even){background-color: #8dc9c4;}
  
  #car-details thead{
      padding-top: 12px;
      padding-bottom: 12px;
        text-align: left;
        background-color: #91b6a8;
        color: white;
  }
  #car-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #91b6a8;
    color: white;
  }