*{
    box-sizing: border-box;
}

.container{
    padding: 5%;
    width: 100%;
}
.resume{
    width: 100%;
    border: 10px solid rgb(124, 103, 64);
    padding: 50px;
}

.details{
    display: inline-block;
    width: 85%;
    padding: 25px;
    
}
.personal-details-image{
    display: inline-block;
}
.label{
    display: inline-block;
    width: 30%;
}
.value{
    display: inline-block;
}

.personal-details-section,
.education-section,
.working-exp-section{
    border-bottom: 5px solid rgb(66, 8, 8);
    
}

.education-details-header,.personal-details-header,
.working-exp-section-header,.organisation-exp-header{
    display: block;
    padding-top: 10px;
}
.list-wrapper{
    display: block;
}
.list-left,.list-right{
    display: inline-block;
}
.list-right-course-details-wrapper{
    display: block;
}
.list-right-course-details-left,.list-right-course-details-right{
    display: inline-block;
}
.list-right-course-details-left{
    width: 30%;
}
.list-left{
    vertical-align: top;
    width: 30%;
}
.list{
    list-style: circle;
  }
.other-details-list{
    padding: 25px;
}
h2{
    font-size: 35px;
    font-weight: bold;
}
span{
    font-size: 25px;
}
.personal-details-section,
.education-section,
.working-exp-section,.organisation-exp-section{
    padding-top: 20px;
    padding-bottom: 20px;
}


.ed-details-first-year{
    vertical-align: top;
}
    