*{
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    padding: 2% 10%;
}
.container{
    margin: auto;
    width: 100%;
    border: 5px solid black;
    text-align: center;
}

.image-wrapper{
    display: inline-block;
    padding: 5%;
    cursor: pointer;
}