.main-container{
    width: 1000px;
}
.container{
    padding: 2%;
    margin: auto;
}
.main-image{
    position: relative;
}
.heading{
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(226, 226, 226);
    font-size: 5rem;
    text-align: center;
}
.header{
    width: 100%;
    border: 2px solid black;
    background-color: rgb(94, 93, 91);
    border-radius: 20px;
    
}
.header-title,.header-wrapper,.header-item,.dropdown{
    display: inline-block;
}
.dropbtn{
    background-color: rgb(43, 32, 32);
    padding: 2%;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #947b7b;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }  

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
.header-title{
    font-size: 2em;
    padding: 2%;
    margin-left: 8%;
    color: #fff;
}
.header-item,.dropdown{
    margin-left: 25px;
}
.header-wrapper{
    margin-left: 200px;
}
a{
    color: #fff;
}
a:hover{
    color: blue;
}
.main-image{
    width: 100%;
    padding: 2%;
}
.footer{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
}
.footer-image,.footer-heading{
    display: inline-block;
    vertical-align: top;
}
.footer-heading{
    margin-top: 1%;
    font-size: 1.5em;
}
.footer-image{
    margin-left: 25px;
    margin-right: 25px;
}
.second-page{
    width: 100%;
}
.second-title-wrapper{
    text-align: center;
    padding: 2%;
}
.second-title{
    font-size: 1.5em;
}
.second-page-content{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    padding: 2.5%;
}
.second-page-content-box{
    display: inline-block;
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
}
.second-page-description-wrapper{
    padding: 2%;
}
.second-page-description{
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 10%;
    padding: 2.5%;
}
.second-page-description-left,.second-page-description-middle,.second-page-description-right{
    display: inline-block;
    vertical-align: top;
}
.second-page-description-left,.second-page-description-right{
    width: 45%;
    text-align: center;
}
.content-image,.content-data-description{
    display: inline-block;
}
.content-image{
    width: 35%;
}
.content-data-description{
    width: 60%;
}
.content-data-top{
    border-bottom: 2px solid black;
}
.ok-text{
    margin-top: 290%;
    border: 2px solid black;
    border-radius: 25px;
}
.registration-wrapper{
    width: 78%;
    margin-left: 11%;
    padding: 2.5%;
    border: 2px solid #000;
    border-radius: 20px;
}


.registration-left,.registration-right,.input,.label,
.gender,.gender-option,.english,.hindi,.cancel-button,.save-button
{
    display: inline-block;
    vertical-align: top;
}
.registration-left,.registration-right{
    width: 45%;
}
.input,.label,.gender,.gender-option{
    width: 45%;
    margin-top: 10px;
}
.address-label,.address-input{
    display: inline-block;
    vertical-align: top;
}
.address-input{
    margin-left: 100px;
}
.cancel-button,.save-button{
    float: right;
    margin-left: 10px;
}
img{
    border-radius: 10px;
}

@media screen and (max-width:500px){
    .main-container{
        width: 480px;
    }
    .header{
        display: block;
        text-align: center;
    }
    .main-image{
        position: static;
    }
    .heading{
        display: none;
    }
    .header-title,.header-item,.dropdown{
        display: block;
        text-align: center;
    }
    .header-wrapper{
      margin: auto;
    }
    .footer-image,.footer-heading{
        display: block;
    }
    .second-page-content-box{
        width: 90%;
        display: block;
    }
    .second-page-content-box{
        margin-top: 10px;
    }
    .second-page-description,.registration-wrapper{
        margin: auto;
    }
    .second-page-description-left,.second-page-description-middle,.second-page-description-right{
        display: block;
        width: 100%;
    
    }
    
    .ok-text{
        text-align: center;
        margin:0
    }
    .label,.input{
        display: block;
    }
    .registration-left{
        margin-right: 5px;
    }
    .registration{
        height:550px
    }
    .languages{
        margin-top: 10px;
    }
 
    
  

    
}