ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(73, 116, 156);
  }
  .form{
      font-size: 1.25em;
  }
  .male,.female,.other{
      display: inline-block;
  }
  .form-wrapper{
      width: 85%;
      margin: auto;
      margin-top: 30px;
  }
  .button-wrapper{
    text-align: center;
    padding-bottom: 50px;
}

  .label,.input{
    display: inline-block;
    vertical-align: top;
}
.label{
    width: 35%;
}
.form-item{
    padding: 2%;
}
