*{box-sizing: border-box;}
.container{
    width: 1400px;
    margin: auto;
    border: 5px solid black;
    background-color: #ddd8d8;}

.header-wrapper{
    background-color: #7c7777;
    height: 50px;
}

.header-title{
    float: left;
    color: #fff;
    font-size: 1.5em;
    
}
.header-login{
    float: right;
    
}

.body-wrapper{
    margin-top: 500px;
    width: 90%;
    margin: 65px 5%;
    background-color: #6d6363;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 5%;
    border-radius: 25px;
}

.body-title{
    font-size: 4em;
    margin-top: 5%;
}
.body-description{
    font-size: 1.5em;
    padding: 2%;
}
.content-wrapper{
    width: 85%;
    border-radius: 25px;
    margin: 65px 110px;
    border: 5px solid #000;
}
.left-content-wrapper,.right-content-wrapper{
    display: inline-block;
}
.left-title{
    text-align: center;
}
img{
    border-radius: 20px;
}
.left-content-wrapper{
    width: 74%;
    border-right: 5px solid #000;
}
.left-content{
    padding: 25px 35px;
}
.left-title{
    font-size: 1.75em;
}
.item{
    display: inline-block;
    width: 49%;
    padding: 2%;
}
.item-content{
    display: inline-block;
    width: 60%;
}
.item-image{
    width: 30%;
    display: inline-block;
}
.item-content-title{
    font-size: 1.5em;
    text-align: left;
    padding: 5%;
}
.item-content-description{
    font-size: 1.2em;
    text-align: left;
}
a{
    font-size: 1.25em;
}
a:hover{
    color: #71aada;
}
.button{
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border: 2px solid #000;
    background-color: #837878;
}
.button a{
    text-decoration: none;
    color: #fff;
}
.button:hover{
    background-color: #5e84a3;
}
.future-events-wrapper{
    padding-top: 25%;
}
.right-content{
    padding: 25px 35px;
}
.past-events-wrapper{
    padding-top: 25%;
}
.future-events-title,.past-events-title{
    font-size: 1.75em;
}
.future-events-subtitle{
    font-size: 1.3em;
    padding: 20px;
}
.future-place-date{
    padding: 2px;
}
.future-events-content,.place-wrapper{
    text-align: left;
    font-size: 1.2em;
}
.place,.date{
    display: inline-block;
}
.footer-wrapper{
    background-color: #ffffff;
    text-align: center;
}
.footer-aboutus-wrapper,.footer-market-wrapper,.footer-platform-wrapper,.footer-contact-wrapper{
    display: inline-block;
    width: 24%;
}
.past-events-title-wrapper{
    padding-bottom: 25px;
}
.past-events-body-wrapper{
    border: 2px solid #000;
}
.place-wrapper{
    padding: 5px;
}
.event-place,.icon{
    display: inline-block;
}
.event-place{
    width: 90%;
}

.place-wrapper:hover{
    background-color: #e29d9d;
    cursor: pointer;
}
.social-media-icons{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.footer-title{
    font-size: 1.5em;
}

.footer-links{
    padding: 5%;
}
.footer-default-links{
    margin-left: 25%;
    padding: 1% 0;
}
.default-link{
    float: left;
    padding: 0 2.5%;
}
.footer-copywrite{
    padding: 2%;
}
.footer-wrapper{
    border-top: 5px solid #000;
}
